.container-fluid {
    min-height: 100vh;
  }
  
//   .sidebar {
//     position: fixed;
//     top: 56px;
//     bottom: 0;
//     left: 0;
//     z-index: 100;
//     padding: 20px 0;
//     overflow-x: hidden;
//     overflow-y: auto;
//     border-right: 1px solid #eee;
//   }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 56px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .nav-item {
    margin-bottom: 15px;
  }
  
  .nav-link {
    color: #333;
    display: block;
    padding: .25rem 1.5rem;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
  }
  
  .nav-link i {
    margin-right: 10px;
  }
  
  .nav-link.active {
    color: #007bff;
    font-weight: bold;
  }
  
  main {
    padding: 20px;
    flex: 1;
  }
  
  .inner-adjust {
    padding: 40px;
  }
  
  .img-thumbnail {
    width: 150px;
    height: 150px;
  }