/* Add styles for the topnav */
.topnav {
  background-color: black !important;
  overflow: hidden;
  text-align: center;
}

/* Add styles for the topnav button */
.topnav .btn {
  float: right;
}

/* Add styles for the topnav button's link */
.topnav .btn a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add hover effect for the topnav button's link */
.topnav .btn a:hover {
  background-color: #ddd;
  color: black;
}

/* Add styles for the modal */
jw-modal {
  background-color: white;
  color: black;
  padding: 20px;

  border: 2px solid #F44336; /* red */
}

/* Add styles for the modal's title */
jw-modal h1 {
  font-size: 30px;
  color: #F44336; /* red */
}

/* Add styles for the modal's list items */
jw-modal li {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Add styles for the modal's close button */
jw-modal button {
  background-color: #F44336; /* red */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Add hover effect for the modal's close button */
jw-modal button:hover {
  background-color: #ddd;
  color: black;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
}


.container-fluid {
    min-height: 100vh;
  }
  
//   .sidebar {
//     position: fixed;
//     top: 56px;
//     bottom: 0;
//     left: 0;
//     z-index: 100;
//     padding: 20px 0;
//     overflow-x: hidden;
//     overflow-y: auto;
//     border-right: 1px solid #eee;
//   }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 56px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .nav-item {
    margin-bottom: 15px;
  }
  
  .nav-link {
    color: #333;
    display: block;
    padding: .25rem 1.5rem;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
  }
  
  .nav-link i {
    margin-right: 10px;
  }
  
  .nav-link.active {
    color: #007bff;
    font-weight: bold;
  }
  
  main {
    padding: 20px;
    flex: 1;
  }
  
  .inner-adjust {
    padding: 40px;
  }
  
  .img-thumbnail {
    width: 150px;
    height: 150px;
  }