<!-- <div>  
    <div *ngFor="let item of fighterList"> {{item}}</div>
</div> -->

<!-- Calling SignOut() Api from AuthService -->

<div class="topnav">
  <div class="btn">
    <a (click)="modalService.open('modal-1')">How To Play</a>
  </div>
  <div class="logo">
    <img
      src="https://i.ibb.co/RPwBhY7/UFClogo.png"
      alt="UFC logo"
      width="50"
      height="32"
    />
  </div>
</div>

<jw-modal id="modal-1">
  <h1>Guess the mystery fighter</h1>
  <li>You are trying to guess a fighter who is currently on the UFC roster</li>
  <li>Enter the name of the fighter that you wish to guess</li>
  <li>Green in any column indicates a match</li>
  <li>
    Yellow in the Fighter Reach or Fighter Height column indicates that you are
    within 2 inches of the fighters reach or height
  </li>
  <li>
    Yellow in the age column indicates that you are within 2 years of the
    fighters age
  </li>

  <div><button (click)="modalService.close('modal-1')">Close</button></div>
</jw-modal>

<div class="header">
  <h1>UFCDLE</h1>
  <h4>UFC FIGHTER GUESSING GAME</h4>
</div>

<dx-select-box
  [dataSource]="this.list.fighters"
  displayExpr="fighterName"
  valueExpr="ID"
  [value]="this.currentFighterList"
  [searchMode]="searchModeOption"
  [searchExpr]="searchExprOption"
  [searchTimeout]="searchTimeoutOption"
  [minSearchLength]="minSearchLengthOption"
  [searchEnabled]="true"
  [showDataBeforeSearch]="showDataBeforeSearchOption"
  (onItemClick)="onValueChanged($event)"
></dx-select-box>




<div class="board">
  <div class="fighter" *ngIf="this.currentFighterList[0]">
    <div class="name">{{ currentFighterList[0].fighterName }}</div>
    <div class="age">{{ currentFighterList[0].Age }}</div>
    <div class="reach">{{ currentFighterList[0].FighterReach }}</div>
    <div class="hometown">{{ currentFighterList[0].HomeTown }}</div>
    <div class="division">{{ currentFighterList[0].Division }}</div>
    <div class="ranking">{{ currentFighterList[0].Ranking }}</div>
    <div class="record">{{ currentFighterList[0].Record }}</div>
  </div>
  <div class="fighter" *ngIf="this.currentFighterList[1]">
    <div class="name">{{ currentFighterList[1].fighterName }}</div>
    <div class="age">{{ currentFighterList[1].Age }}</div>
    <div class="reach">{{ currentFighterList[1].FighterReach }}</div>
    <div class="hometown">{{ currentFighterList[1].HomeTown }}</div>
    <div class="division">{{ currentFighterList[1].Division }}</div>
    <div class="ranking">{{ currentFighterList[1].Ranking }}</div>
    <div class="record">{{ currentFighterList[1].Record }}</div>
  </div>
  <div class="fighter" *ngIf="this.currentFighterList[2]">
    <div class="name">{{ currentFighterList[2].fighterName }}</div>
    <div class="age">{{ currentFighterList[2].Age }}</div>
    <div class="reach">{{ currentFighterList[2].FighterReach }}</div>
    <div class="hometown">{{ currentFighterList[2].HomeTown }}</div>
    <div class="division">{{ currentFighterList[2].Division }}</div>
    <div class="ranking">{{ currentFighterList[2].Ranking }}</div>
    <div class="record">{{ currentFighterList[2].Record }}</div>
  </div>
  <div class="fighter" *ngIf="this.currentFighterList[3]">
    <div class="name">{{ currentFighterList[3].fighterName }}</div>
    <div class="age">{{ currentFighterList[3].Age }}</div>
    <div class="reach">{{ currentFighterList[3].FighterReach }}</div>
    <div class="hometown">{{ currentFighterList[3].HomeTown }}</div>
    <div class="division">{{ currentFighterList[3].Division }}</div>
    <div class="ranking">{{ currentFighterList[3].Ranking }}</div>
    <div class="record">{{ currentFighterList[3].Record }}</div>
  </div>
  <div class="fighter" *ngIf="this.currentFighterList[4]">
    <div class="name">{{ currentFighterList[4].fighterName }}</div>
    <div class="age">{{ currentFighterList[4].Age }}</div>
    <div class="reach">{{ currentFighterList[4].FighterReach }}</div>
    <div class="hometown">{{ currentFighterList[4].HomeTown }}</div>
    <div class="division">{{ currentFighterList[4].Division }}</div>
    <div class="ranking">{{ currentFighterList[4].Ranking }}</div>
    <div class="record">{{ currentFighterList[4].Record }}</div>
  </div>
  <div class="fighter" *ngIf="this.currentFighterList[5]">
    <div class="name">{{ currentFighterList[5].fighterName }}</div>
    <div class="age">{{ currentFighterList[5].Age }}</div>
    <div class="reach">{{ currentFighterList[5].FighterReach }}</div>
    <div class="hometown">{{ currentFighterList[5].HomeTown }}</div>
    <div class="division">{{ currentFighterList[5].Division }}</div>
    <div class="ranking">{{ currentFighterList[5].Ranking }}</div>
    <div class="record">{{ currentFighterList[5].Record }}</div>
  </div>
  <div class="fighter" *ngIf="this.currentFighterList[6]">
    <div class="name">{{ currentFighterList[6].fighterName }}</div>
    <div class="age">{{ currentFighterList[6].Age }}</div>
    <div class="reach">{{ currentFighterList[6].FighterReach }}</div>
    <div class="hometown">{{ currentFighterList[6].HomeTown }}</div>
    <div class="division">{{ currentFighterList[6].Division }}</div>
    <div class="ranking">{{ currentFighterList[6].Ranking }}</div>
    <div class="record">{{ currentFighterList[6].Record }}</div>
  </div>
  <div class="fighter" *ngIf="this.currentFighterList[7]">
    <div class="name">{{ currentFighterList[7].fighterName }}</div>
    <div class="age">{{ currentFighterList[7].Age }}</div>
    <div class="reach">{{ currentFighterList[7].FighterReach }}</div>
    <div class="hometown">{{ currentFighterList[7].HomeTown }}</div>
    <div class="division">{{ currentFighterList[7].Division }}</div>
    <div class="ranking">{{ currentFighterList[7].Ranking }}</div>
    <div class="record">{{ currentFighterList[7].Record }}</div>
  </div>
</div>
